@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit";
  src: url("fonts/Outfit-Black.ttf") format("truetype");
  font-weight: 900; /* Black ağırlık */
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("fonts/Outfit-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold ağırlık */
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("fonts/Outfit-ExtraBold.ttf") format("truetype");
  font-weight: 800; /* ExtraBold ağırlık */
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("fonts/Outfit-Light.ttf") format("truetype");
  font-weight: 300; /* Light ağırlık */
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("fonts/Outfit-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium ağırlık */
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("fonts/Outfit-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular ağırlık */
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("fonts/Outfit-SemiBold.ttf") format("truetype");
  font-weight: 600; /* SemiBold ağırlık */
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("fonts/Outfit-Thin.ttf") format("truetype");
  font-weight: 100; /* Thin ağırlık */
  font-style: normal;
}

body {
  font-family: "Outfit", sans-serif;
  color: white;
  background-color: #050811;
  background-image: radial-gradient(rgba(90, 90, 90, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
}

.glow {
  /* Ellipse */

  background: #208bdf;
  mix-blend-mode: screen;
  filter: blur(277px);
}

.item-box {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.mini-glow {
  /* Ellipse */

  width: 175px;
  height: 33px;

  mix-blend-mode: screen;
  filter: blur(60.5px);
}
/* Rectangle 9 */
/* Rectangle 9 */
.menu {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0;
  /* Adjust your color */
  transition: all 0.3s ease-in-out;
  overflow: hidden; /* Smooth transition for opening and closing */
}

.menu.active {
  width: 100svw;
  /* Bring it down when active */
}

/*-----------------------------------*/
.logos-slide {
  display: grid;
  grid-template-columns: repeat(10, 120px);
  animation: 10s slide linear infinite;
}

.logo-img {
  margin-right: 20px;
}

.scroll {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.scroll div {
  white-space: nowrap;
  animation: scroll 25s linear infinite;
  animation-delay: calc(25s * -1);
}

.scroll div:nth-child(2) {
  animation: scroll2 25s linear infinite;
  animation-delay: calc(25s / -2);
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

.ImageBox div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-Image {
  max-width: 140px;
  scale: 0.8;
  margin: 0px 20px;
}
